<script type="text/javascript">
    function showLoginPopup() {
        window.open('/api/Account/connect/central');
        return false;
    }
</script>

<button class="btn btn-primary" onclick="return showLoginPopup()">Login</button>